<br>
 <center>
 <div class="concepts">
   
  <div class="concepts-list-header">CONCEPTS</div>
  <br><br>
  <div class="header-toolbelt">
    <div class="results-found">
      <%= @concepts.length %> result(s) found.
    </div>
    <input type="text" class="search-bar" placeholder="Search Concepts...">
  </div>
  
  <br><br>
  <div class="concepts-header"></div>
  <% @concepts.each do |concept| %>
    <div class="concept" id="<%= concept.id %>">
      <div class="title">
        <%= concept.title %>
      </div>
      <div class="description">
        <%= concept.description.length > 160 ? concept.description[0...160] + "..." : concept.description %>
      </div>
     <!-- <%= link_to 'delete', concept,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>-->
   </div>
  <% end %>
  </div>
  </center>
