<center>
  
  <div class="concepts"><br>
    <div class="concepts-list-header">NEW CONCEPT</div>
  </div>
  
  <div class="show-concept new-form">
     
    <%= form_for :concept, url: concepts_path do |f| %>
      <% if @concept.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@concept.errors.count, "error") %> prohibited this concept from being saved:</h2>

          <ul>
          <% @concept.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <%= f.text_field :title, :placeholder => "Title", :class => "new-title" %>
      </p>
     
      <p>
        <%= f.text_area :description, :placeholder => "Description" %>
      </p>
    
      <p>
        <%= f.text_area :content, :placeholder => "Content" %>
      </p>
     
      <p>
        <%= f.submit %>
      </p>
    <% end %>
    
  </div>
 
</center>

