<center>
    <div class="show-concept">
        <% if user_signed_in? %>
            <% if @concept.user_id == current_user.id %>
                <div class="owner-controls">
                    <a href="#" class="edit">Edit</a>
                    <a href="#" class="delete">Delete</a>
                </div>
            <% end %>
        <% end %>
        <div class="concept-title">
            <%= @concept.title %>
        </div>
        <div class="concept-description">
            <%= @concept.description %>
        </div>
        <br>
        <div class="concept-content">
            <%= simple_format @concept.content %>
        </div>
        <br>
        <hr>
        <br>
        <%= link_to '<button class="reply-to-concept">Write a Review</button>'.html_safe, new_concept_review_path(@concept) %>
        <br>
        <br><br><br><br>
        <% @concept.reviews.each do |review| %>
            <% if review.user_id != nil %>
                    <div class="review-pane">
                        <div class="review-user">
                            <%= User.find(review.user_id).email %>
                        </div><br>
                        <div class="review-content">
                            <%= review.content %>
                            <div class="triangle"></div>
                        </div>
                    </div>
                <br><br>
            <% end %>
        <% end %>
        <br><br>
    </div>
</center>
