<center>
    <div class="show-concept">
        <% if user_signed_in? %>
            <% if @concept.user_id == current_user.id %>
                <div class="owner-controls">
                    <%= link_to "Edit", edit_concept_path(@concept), class: "edit" %>
                    <%= link_to "Delete", concept_path(@concept), class: "delete", method: :delete %>
                </div>
            <% end %>
        <% end %>
        <div class="concept-title">
            <%= @concept.title %>
        </div>
        <div class="concept-description">
            <%= @concept.description %>
        </div>
        <br>
        <div class="concept-content">
            <%= simple_format @concept.content %>
        </div>
        <br>
        <hr>
        <br>
        <%= link_to '<button class="reply-to-concept">Write a Review</button>'.html_safe, new_concept_review_path(@concept) %>
        <br>
        <br><br><br><br>
        <% @concept.reviews.each do |review| %>
            <% if review.user_id != nil %>
                <% reviewer = User.find(review.user_id) %>
                <% is_yours = (reviewer == current_user) %>
                    <div class="review-pane">
                        <% if is_yours %>
                            <div class="owner-controls">
                                <a href="#" class="edit">Edit</a>
                                <a href="#" class="delete">Delete</a>
                            </div>
                        <% end %>
                        <div class="review-user">
                            <%= is_yours ? 'You' : reviewer.email %>
                            <text style="font-size: .8em; color: rgba(0, 0, 0, .5);">
                                on 
                                <%= review.created_at %>
                            </text>
                        </div>
                        <div class="review-content">
                            <%= simple_format review.content %>
                            <div class="triangle"></div>
                        </div>
                    </div>
                <br><br>
            <% end %>
        <% end %>
        <br><br>
    </div>
</center>
