<center>
    <div class="show-concept">
        <% if user_signed_in? %>
            <% if @concept.id == current_user.id %>
                <div class="owner-controls">
                    <a href="#" class="edit">Edit</a>
                    <a href="#" class="delete">Delete</a>
                </div>
            <% end %>
        <% end %>
        <div class="concept-title">
            <%= @concept.title %>
        </div>
        <div class="concept-description">
            <%= @concept.description %>
        </div>
        <br>
        <div class="concept-content">
            <%= simple_format @concept.content %>
        </div>
        <br><br>
        <% @concept.reviews.each do |review| %>
            <hr>
            <%= simple_format review.content %>
            <br>
        <% end %>
        <br><br>
        <%= link_to '<button class="reply-to-concept">Write a Review</button>'.html_safe, new_concept_review_path(@concept) %>
    </div>
</center>
