
<center>

  <div class="concepts">
    <text style="float: left; background: #2980b9; padding: 6px; color: white; border-radius: 2px;">
      <%= link_to 'Back to Concept', @concept %>
    </text>
    <br><br><br>
      <div class="concept-title">
          <%= @concept.title %>
      </div>
      <div class="concept-description">
          <%= @concept.description %>
      </div>
      <br>
      <div class="concept-content">
          <%= @concept.content %>
      </div>
    <br><br>
    <hr>

  </div>
  
  
  <div class="show-concept new-form">

    <%= form_for(@review, url: concept_reviews_path(@concept)) do |f| %>
      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
    
          <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <a href="#" class="enter-zen">Zen Mode</a>
      <br><br>
      <div class="zen-header" style="display: none;">
        <a href="#" class="exit-zen" style="float: right;">Return</a>
        <a href="#" style="float: left;"><%= @concept.title %></a>
      </div>
      <div class="field">
        <%= f.text_area :content, placeholder: "Write A Review", class: "write-review"%>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>


</center>