<!DOCTYPE html>
<html>
<head>
  <title>Ziras</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header-nav">
    <div class="logo">
      <a href="/">Home</a> &nbsp; &nbsp; 
      <a href="/concepts">Concepts</a> &nbsp; &nbsp; 
      <a href="/concepts/new">New Concept</a> &nbsp;
    </div>
    <% if user_signed_in? %>
      <div class="username">
        <%= current_user.email %>
        ( <text style="color: #2980b9;"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></text> )
      </div>
    <% else %>
      <div class="username"><%= link_to('Login', new_user_session_path)  %></div>
    <% end %>
  </div>
  <div class="header-burger">
    <i class="fa fa-bars"></i>
  </div>
  
   <% if user_signed_in? %>
      <div class="side-nav">
        <div class="option"><a href="/">HOME</a></div>
        <div class="option"><a href="/concepts">CONCEPTS</a></div>
        <div class="option"><a href="/concepts/new">NEW</a></div>
        <div class="option"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></div>
        <div class="option close">Close</div>
      </div>
    <% else %>
      <div class="side-nav">
        <div class="option username"><%= link_to('Login', new_user_session_path)  %></div>
        <div class="option close">Close</div>
      </div>
    <% end %>
  
  
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
